// ---------------------------------- Footer ---------------------------------- //

.footer {
    height: auto;
    background-color: #b4b4b4;
    &-text  {
        color: #fff;
    }
    &-col {
        padding: 2em;
    }
    &-middle-col {
        @extend .footer-col;
        border-top: 1px solid $color-secondary;
        border-bottom: 1px solid $color-secondary;
        margin: 0 3em;
        @include md-media-query {
            border-top: none;
            border-bottom: none;
            border-right: 1px solid $color-secondary;
            border-left: 1px solid $color-secondary;
            margin: 3em 0 0 0;
        }
    }
    &-subrow {
        background-color: #d1d1d1;
        height: auto;
        width: 100%;
    }
    &-related-col {
        border-top: 1px solid $color-secondary;
    }

    .fa {
        &-react {
            color: #007bff;
        }
        &-node {
            color: #272727;
        }
        &-sass {
            color: #c69;
        }
        &-reddit {
            color: #ff4500;
        }
        &-flickr {
            color: $color-secondary;
        }
    }

    a {
        display: block;
        &:hover {
            text-decoration: none;
            color: inherit
        }
    }
}
  
// ----------------------------------------------------------------------------------- //