// --------------------------------- Jumbotron ----------------------------- //

.carousel {
    &-slider {
        height: 45em;
    }

    .thumbs-wrapper {
        padding-top: 1em;
        text-align: center;
        background-color: #343a40;
    }
}

// ---------------------------------------------------------------------- //