// --------------------------------- Images ----------------------------- //
// ---------------------------------------------------------------------- //

.image-dashboard {
    width: 400px;
    height: 300px;
    @include md-media-query {
        width: 450px;
        height: 350px;
    }
    @include lrg-media-query {
        width: 500px;
        height: 400px;
    }
}

// ---------------------------------------------------------------------- //
// ---------------------------------------------------------------------- //