// --------------------------------- Jumbotron ----------------------------- //

.carousel {
    margin-bottom: $margin-seperator;
    &-slider {
        @include md-custom-query {
            height: 43em;
        }
    }

    .thumbs-wrapper {
        padding-top: 1em;
        text-align: center;
        background-color: #343a40;
    }
}

h1 {
    font-weight: 100;
}

// ---------------------------------------------------------------------- //