// --------------------------------- Navbar ----------------------------- //
// ---------------------------------------------------------------------- //

nav {
    .nav-form {
        flex-grow: 1;
        justify-content: space-around;
        &-input {
            flex-basis: 90%;
            border-color: transparent;

            @include lrg-media-query {
                flex-basis: 50%;
            }

            @include md-media-query {
                flex-basis: 70%;
            }
        }
    }

    button,
    .input-group-text {
        background-color: $color-primary;
        @include border-radius($style: none);
        &:hover {
            cursor: pointer;
        }
    }

    .dropdown {
        &-menu {
            @include border-radius(2px, $nav-secondary);
            background-color: $dropdown-primary;
            padding: 0em;
            height: 100vh;
            width: 16em;
            left: -5em;
            @include md-media-query {
                left: 2em;
            }
        }
        &-item {
            -o-transition:color .2s ease-out, background .4s ease-in;
            -ms-transition:color .2s ease-out, background .4s ease-in;
            -moz-transition:color .2s ease-out, background .4s ease-in;
            -webkit-transition:color .2s ease-out, background .4s ease-in;
            transition:color .2s ease-out, background .4s ease-in;
            &:hover {
                background-color: $nav-secondary;
            }
        }
        &-directory {
            @include border-radius(1px, $nav-secondary)
        }
    }

    .form-control {
        @include border-radius($style: none);
    }
}

// ---------------------------------------------------------------------- //
// ---------------------------------------------------------------------- //