// --------------------------------- Utilities ----------------------------- //
// ------------------------------------------------------------------------ //
// Border, padding, margin, etc.


$lrg-screen-size: 1096px;
$md-screen-size: 768px;
// ------------------------------------------------------------------------ //
// ------------------------------------------------------------------------ //
// Colors

$color-primary: #fff;
$nav-secondary: #cfcfcf;
$dropdown-primary: #ebe9e9;

// ------------------------------------------------------------------------ //
// ------------------------------------------------------------------------ //