// --------------------------------- Utilities ----------------------------- //
// ------------------------------------------------------------------------ //
// Border, padding, margin, etc.

$margin-seperator: 7em;

$lrg-screen-size: 1096px;
$md-screen-size: 768px;
$sm-screen-size: 576px;
// ------------------------------------------------------------------------ //
// ------------------------------------------------------------------------ //
// Colors

$color-primary: #fff;
$color-secondary: #000;
$nav-secondary: #cfcfcf;
$dropdown-primary: #ebe9e9;

// ------------------------------------------------------------------------ //
// ------------------------------------------------------------------------ //